# Variables de entorno — NUNCA subir al repositorio
.env
.env.local
.env.production
"RESPALDO ENV PRODUCCION"
"RESPALDO ENV DEV"

# Dependencias
node_modules/

# Build
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
